@model DND.Core.ViewModels.ProjectsViewModel
@{
    var i = 0;
}

<div class="gallery">
        @foreach (ProjectDTO project in Model.Projects)
        {
            if (i % 2 == 0)
            {
                @Html.Raw(@"<div class=""card-deck"">")
            }
            <div class="card mb-4">
                <a class="gallery-image" href="@(Server.GetFileInfo(Folders.Projects,project.File).VirtualPathSlug())" title="@project.Name"><img class="card-img-top" src="@(Server.GetFileInfo(Folders.Projects,project.File).VirtualPathSlug(800,0))" alt="@project.Name"></a>
                <div class="card-block">
                    @if (string.IsNullOrEmpty(project.Link))
                    {
                        <h4 class="card-title">@project.Name</h4>
                    }
                    else
                    {
                        <h4 class="card-title"><a href="@project.Link" title="@project.Name">@project.Name</a></h4>
                    }
                    <p class="card-text">@project.DescriptionText</p>
                </div>
            </div>
            i = i + 1;
            if (i % 2 == 0 || Model.Projects.Count == i)
            {
                @Html.Raw(@"</div>")
            }
        }
</div>
